{{ define "main" }}
<div class="flex flex-col md:flex-row">
    <div class="w-full md:w-[80%] px-0 md:px-12 md:order-2 order-1">
        <div class="w-full m-auto px-0">
            <div class="breadcrumb-container">
                {{ partial "breadcrumbs.html" . }}
            </div>
            <header class="mb-8">
                <h1 id="post-title" class="text-2xl font-semibold mb-2">{{ .Title }}</h1>
                <span>{{ .Date | time.Format ":date_full" }}</span><br>
                {{ if isset .Params "tags" -}}
                    <span class="tags-container">
                    {{ range $index, $name := sort .Params.tags -}}
                        <a class="mx-1 bg-[#313033] text-white px-1 rounded-md" href={{ (printf "/tags/%s/" $name) | urlize }} title="Index: {{$name | markdownify }}">#{{$name | markdownify}}</a>
                    {{- end}}
                    </span>
                {{- end }}
            </header>
            {{- partial "seriesList.html" . -}}
            <div id="content-wrap" class="font-normal leading-normal">
                {{ .Content }}
            </div>
            {{- partial "seriesList.html" . -}}

            {{- partial "share-social.html" . -}}

            {{- partial "related.html" . -}}
            <div id="comment-wrap" class="w-full">
                {{- partial "comment.html" . -}}
            </div>
            <div class="spacer"></div>
        </div>
    </div>

    <!-- sidebar-right -->
    <div class="w-full md:w-[20%] order-3">
        {{- partial "sidebar-right.html" . -}}
    </div>
</div>
{{ end }}