html,body {
  height:100%;
}

h1{
	font-family: 'Roboto Slab', sans-serif;
	font-size:58px;
  color: #5a5a5a;
	padding: 14px 10px;
}
h2{
	font-family: 'Roboto Slab', sans-serif;
	font-size:28px;
	color: #5a5a5a;
  padding: 14px 10px;
}
h3{
	font-family: 'Roboto Slab', sans-serif;
	font-size:18px;
	color: #5a5a5a;
  padding: 14px 10px;
}

.blog-list-title h1{
  font-family: 'Roboto Slab', sans-serif;
  font-size:48px;
  color: #5a5a5a;
  padding: 14px 10px;
}

.v-center {
  margin-top:7%;
}

.quotes  p{
	font-family: 'Roboto Slab', serif;
	color: #5a5a5a;
  font-size: 12px;
  padding: 14px 10px;
}

.hepinavbar  p{
  font-family: 'Roboto Slab', serif;
  color: #5a5a5a;
  font-size: 12px;
  padding: 14px 10px;
}

.bloglist p{
  font-family: 'Roboto Slab', serif;
  color: #5a5a5a;
  font-size: 18px;
  padding: 14px 10px;
}

.blogcontent p {
	font-family: 'Roboto Slab', serif;
	color: #5a5a5a;
  font-size: 38px;
  padding: 14px 10px;
}

.pubscontent p {
	font-family: 'Roboto Slab', serif;
	color: #5a5a5a;
  font-size: 18px;
  padding: 14px 10px;
}

.pubscontent judul {
	font-family: 'Roboto Slab', serif;
	color: #3498db;
  font-size: 18px;
  padding: 14px 0px;
}

.pubscontent li {
	font-family: 'Roboto Slab', serif;
	color: #5a5a5a;
  font-size: 18px;
  padding: 0px 0px;
}

.blogcontent li {
	font-family: 'Roboto Slab', serif;
	color: #5a5a5a;
  font-size: 38px;
}

.element{
	display: inline;
	color: #e67e22;
	font-size: 48px;
}

#typed-cursor{
	font-size: 48px;
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

#video-bg {
position: fixed;
right: 0;
bottom: 0;
width: auto;
min-width: 100%;
height: auto;
min-height: 100%;
z-index: -100;
background: transparent url(http://video-js.zencoder.com/oceans-clip.png) no-repeat;
background-size: cover;
}



@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-backgorund-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading{
    font-size: 40px;
    font-family: 'Roboto Slab', sans-serif;
	margin:0px;
	color: #5a5a5a;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {

        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}


.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}


#columns {
	column-width: 320px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

div#columns figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
	color: #444;
  line-height: 1.5;
}

div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
  transition: .4s color;
}

div#columns:hover figure:not(:hover) {
	opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}


.bq-hepi{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: 'Special Elite', cursive;
  font-size: 18px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)
  border-left: 15px solid #e67e22;
  border-right: 2px solid #e67e22;*/

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

.bq-hepi::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: 'Special Elite', cursive;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

.bq-hepi::after{
  /*Reset to make sure*/
  content: "";
}

.bq-hepi a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

.bq-hepi a:hover{
 color: #666;
}

.bq-hepi em{
  font-style: italic;
}

.bq-hepi-code {
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: 'Droid Sans Mono', cursive;
  font-size: 18px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}


.hepidisclaimer p{
  color:  #5a5a5a; /*Color of Disclaimer Text*/
  font-size: 12px; /*Font Size of Disclaimer Text*/
  font-family: 'Roboto Slab', sans-serif; /*Web Safe Font Family of Disclaimer Text*/
}

.blueimp-gallery .modal-body {
  position: relative;
  text-align: center;
  padding: 0 0 56.25% 0;
  overflow: hidden;
  cursor: pointer;
}
.blueimp-gallery .modal-footer {
  margin: 0;
}
.blueimp-gallery .modal-body img{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .blueimp-gallery .modal-dialog {
    right: auto;
    left: auto;
    width: auto;
    max-width: 900px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

#awful-img {
  transition: opacity .12s;
}

#awful-img.hidden  {
  opacity: 0;
}

/* Header
----------------------------------------------------------------- */

header {
  /*  Sometimes I want border or borderless :D
  border-bottom: 1px solid #E0E0E0;*/
}

header #buttons {
    display: inline-block;
    font-size: 30px;
    padding: 30px;
}

#buttons i {
    cursor: pointer;
}

header a {
    color: gray;
    font-weight: 300;
    font-size: 20px;
}

header a:hover {
    border-bottom: 1px solid gray;
    text-decoration: none;
}

.fork-on-github {
    z-index: 999999999;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.heading {
    display: inline-block;
    margin-left: 120px;
    width: 70%;
}

.heading * div,
.heading h1 {
    display: inline-block;
}

.social-buttons {
    float: right;
    padding: 20px;
}

.social-buttons .twitter {
    padding-right: 10px;
}




/* Sidebar
----------------------------------------------------------------- */
#sidebar {
    position: absolute;
    left: -25rem;
    overflow-y: auto;
    top: 91px;
    width: 25rem;
    z-index: 2;
}

.toc-element {
    padding: 10px;
}

.toc-element a {
    border-bottom: 2px solid transparent;
    color: #2F2F2F;
    text-decoration: none;
}

.toc-element a:hover {
    border-bottom-color: #3A7BD5;
}

.nav-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}


header #buttons {
    display: inline-block;
    font-size: 30px;
    padding: 30px;
}

#buttons i {
    cursor: pointer;
}

/* Content
----------------------------------------------------------------- */

#flex-box {
    display: flex;
    flex: 1 100%;
}

#flex-box #sidebar {
    flex: 0 0 250px;
}

#flex-box #content {
    flex: 1;
}

#content-body {
    width: 750px;
    margin: 0 auto;
}

#content-body h1 {
    font-size: 35px;
    margin-bottom: 0.8em;
}

#content-body p {
    line-height: 1.6em;
}

#content-body pre {
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
    white-space: pre-wrap;
}

#content-body img {
    width: 100%;
}