<script type="application/ld+json">
{{ if eq .Section "posts" }}
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title }},
  {{ if isset .Params "images" -}}
    {{ range .Params.images }}
        {{ $image := resources.Get . }}
        "image": {{ $image.Permalink }},
    {{end}}
  {{ end }}
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  "author": {
    "@type": "Person",
    "name": "ignatha"
  },
  "mainEntityOfPage": { "@type": "WebPage" },
   "publisher": {
    "@type": "Organization",
    "name": "ignatha.com",
    "logo": {
      "@type": "ImageObject",
      {{ $icon := resources.Get "image/icon.png" }}
      "url": {{ $icon.Permalink }}
    }
  },
  "description": {{ .Summary | plainify | safeHTML }},
  "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
}
{{ end }}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "ignatha.com",
  "url": {{ .Site.BaseURL }},
  "sameAs": [
    "https://www.facebook.com/prabowo.id",
    "https://www.instagram.com/ignatha.id",
    "https://twitter.com/ignatha_id",
    "https://github.com/ignatha"
  ]
}
</script>