<div id="sidebar-wrapper" class="w-full">
        <div class="wrapper-siderbar">
            <h3>Categories</h3>
            <ul>
                {{ range .Site.Taxonomies.categories }}
                <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} <i>({{ .Count }})</i> </a></li>
                {{ end }}
            </ul>
        </div>
    <div class="wrapper-siderbar">
        <h3>Support</h3>
        <ul>
            <li><a href="https://saweria.co/ignatha" target="_blank" >Saweria</a></li>
            <li><a href="https://trakteer.id/ignatha" target="_blank" >Trakteer</a></li>
        </ul>
    </div>
</div>