{{ define "main" }}
<div class="flex flex-col md:flex-row">
    <!-- sidebar-left -->
    <div class="w-full md:w-[20%] md:order-1 order-2">{{- partial "sidebar-left.html" . -}}</div>

    <div class="w-full md:w-[60%] px-0 md:px-12 md:order-2 order-1">
        <div class="w-full md:max-w-[48rem] m-auto px-0 md:px-[4rem]">
            <header class="mb-8">
                <span id="post-title" class="text-4xl font-extrabold mb-2">Posts</span>
            </header>
            <div class="font-normal leading-normal">
                <div class="max-w-2xl mx-auto px-4">
                    <div>
                      {{ range  ( where .Site.RegularPages "Type" "posts" ) }}
                          <div class="bg-gray-50 text-gray-500 p-3 border flex gap-4 mb-4">
                              <div>
                                  <a href="{{- .Permalink -}}" class="text-lg font-black" >{{- .Title -}}</a><br>
                                  <small class="text-sm font-thin">{{- .Date | time.Format ":date_long" -}}</small><br>
                                  {{ if isset .Params "description" -}}
                                    <small class="text-xs font-thin">{{- .Description -}}</small>
                                  {{ end }}
                              </div>
                          </div>
                      {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- sidebar-right -->
    <div class="w-full md:w-[20%] order-3">
        {{- partial "sidebar-right.html" . -}}
    </div>
</div>
{{ end }}