{{ define "main" }}
<div class="w-full">
    <!-- section1 -->
    <div class="w-full bg-[#f0f1f7] flex pt-8">
        <div class="w-full max-w-[1080px] m-auto flex md:flex-row flex-col" >
            <div class="w-[50%] flex flex-wrap flex-col justify-start align-middle p-4">
                <h1 class="text-[#050748] text-[3rem] font-bold" style="font-family: 'Jost';" >Hey ! I Am</h1>
                <h1 class="text-[#fdb081] text-[3rem] font-bold" style="font-family: 'Jost';" >Prapbowo Ignatha</h1>
                <p class="text-justify mb-8 text-[#5f5f73]">Website programmer and Digital Marketing Enthusiast</p>
                <a href="#" class="w-[150px] capitalize p-4 rounded-full button flex flex-row justify-between" style="background: linear-gradient(90deg,#c278fb,#f973ff);" ><span>Hire Me </span><i class="w-[20px]"><svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                  </svg>
                </i>
                </a>
            </div>
            <div class="w-[50%] flex flex-wrap justify-center p-4">
                <img class="w-full max-w-[557px]"  src="http://drive.google.com/uc?id=1iyVyaGyw5HniEugxd1-qZ54rpFpn2UTc" alt="image">
            </div>
        </div>
    </div>

    <!-- section2 -->
    <div class="w-full bg-[#f0f1f7] flex pt-8">
        <div class="w-full max-w-[1080px] m-auto flex md:flex-row flex-col" >
            <div class="w-[50%] flex flex-wrap justify-center p-4">
                <img class="w-full max-w-[557px]"  src="https://drive.google.com/uc?id=1B97-7cbBT2HhLUqHh5bvfckaGLsudQmj" alt="image">
            </div>
            <div class="w-[50%] flex flex-wrap flex-col justify-start align-middle p-4">
                <h1 class="text-[#050748] text-[3rem] font-bold" style="font-family: 'Jost';" >About Me !</h1>
                <p class="text-justify mb-8 text-[#5f5f73]">I Graduated from Universitas Muhammadiyah Sidoarjo with an Informatic Technology Bachelor. I have five years of experience as a Website programmer. Familiar with Website Tools development in Php, Javascript, Python, and Framework.</p>
                <a href="#" class="w-[150px] capitalize p-4 rounded-full button flex flex-row justify-between" style="background: linear-gradient(90deg,#c278fb,#f973ff);" ><span>Hire Me </span><i class="w-[20px]"><svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                  </svg>
                </i>
                </a>
            </div>
        </div>
    </div>

</div>
{{ end }}